@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply text-gray-600 antialiased bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-900 font-bold;
  }
}
